<style>
        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .login-form{
            border: 3px solid;
            color: #9074DC;
            width: 200px;
            height: 200px;
            padding: 5px 10px 5px;
        }
        .login-form input{
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            margin-bottom: 20px;
        }
</style>