/* root : 최상위 계층, 관리자 권한 */
:root{
    /* 자주사용하는 color 모음 */
    /* 자주 사용하는 color에 변수 이름을 만듬
    변수이름을 활용함 */
    --mainColor: #eaeaea;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
}
@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* h3~h6 공통처리 */
h3,h6{
    font-family: 'ACCchildrenheartOTF-Regular';
    font-weight: 500;
}
section{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}
.project-container{
    width: 1200px;
    /* 위 아래는 없고 오른쪽 왼쪽은 자동으로 맞추기 */
    margin: 0 auto;
}
.project-container h3{
    font-size: 28px;
    text-align: center;
    margin: 28px 0;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
}
.post img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.post-preview{
    background-color: var(--secondaryColor);
    padding: 5%;
}
.post-preview h6{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.post-preview p{
    color: #4b5156;
    font-size: 14px;
    margin: 14px 0;
}
.post-preview a{
    text-transform: none;
    color: #17a2b8;
}
.post{
    border: 1px solid var(--borderColor);
    box-shadow: -2px 7px 12px -9px rgba(0,0,0,0.75);
    transition: 2s;
}
.post:hover{
transform: scale(1.5);
}
.main-container{
    width: 1200px;
    height: 615px;
    margin: 0 auto;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.about-me{
    width: 550px;
    height: auto;
}
.about-me p{
    margin: 16px 0;
}
.about-me h4{
    font-size: 24px;
    margin: 32px 0;
}
.skills{
    display: flex;
    justify-content: space-evenly;
    background-color: #f0ead6;
    border-radius: 10px;
}
.skills ul{
    list-style: none;
    padding-left: 40px;
    padding: 16px 0;
}
.skills ul li{
    color: black;
}
.social-link{
    width: 550px;
    height: auto;
}
.social-link img{
    width: 100%;
    border-radius: 5px;
    height: auto;
    object-fit: cover;
}
.social-link h3{
    text-align: center;
    margin: 28px 0;
    font-size: 28px;
}
.github {
    text-align: center;
}
.github a {
    font-size: 20px;
    text-decoration: none;
    color: #17a2b8;
}
header{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor);
}
.greeting-wrapper{
    padding: 46px 0;
}
.greeting-wrapper h1{
    text-align: center;
    font-size: 56px;
}
.intro-wrapper{
    background-color: #fff;
    border: 1px solid var(--borderColor);
    /* boder-radius(위 왼쪽) (위 오른쪽) (아래 오른쪽) (아래 왼쪽) */
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav-wrapper nav-wrapper" "info-wrapper do-wrapper";
    box-shadow:  -1px 1px 3px -px rgba(0,0,0,0.75);
}
.nav-wrapper{
    width: 100%;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* id는 # class는 . */
#dot-1{
    background-color: red;
}
#dot-2{
    background-color: orange;
}
#dot-3{
    background-color: lawngreen;
}
.dot{
    cursor: pointer;
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    transition: 0.3s;
    margin: 5px;
}
.dot:hover{
    transform: scale(2);
}
.dots-wrapper{
    display: flex;
    padding: 10px;
}
.info-wrapper{
    grid-area: info-wrapper;
    padding: 30px 0;
}
.info-wrapper img{
    display: block;
    width: 230px;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 5px;
}
.info-wrapper h5{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.do-wrapper{
    grid-area: do-wrapper;
    padding: 50px 10px;
}
.preview-shadow{
    background-color: #f0ead6;
    width: 300px;
    height: 180px;
    /* .preview 옆으로 밀어내려고 */
    padding-left: 30px;
    padding-top: 30px;
}
.preview{
    width: 330px;
    border: 1.5px solid aquamarine;
    background-color:  rgb(251,249,243,0.8);
    padding: 15px;
    position: relative;
}
.conrner{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.5px solid aquamarine;
    background-color: #fff;
    position: absolute;
}
#corner-tl{
    top: -5px;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
.preview h3{
    font-size: 28px;
    margin: 28px 0;
}
.preview p{
    font-size: 18px;
    color: #4b5156;
    margin: 16px 0;
}